        {% if not epipe %}

<select id="jobs" name="jobs" class="form-control">
{% endif %}
                <option value="Computer">Computer</option>
                <option value="Electronics">Electronics</option>
                <option value="Defense">Defense</option>
                <option value="Govt.Service">Govt.Service</option>
                <option value="Banking">Banking</option>
                <option value="Law">Law</option>
                <option value="Design">Design</option>

                <option value="Arts">Arts</option>
</select>