  <header class="mb-1">
    <div>

      <nav class="nav nav-masthead justify-content-center float-md-end">
                     <img src="{{ url_for('static', filename='img/logo.png') }}" alt="MoneyPipes" class="logo py-2 px-0">

        <a class="nav-link fw-bold py-1 px-0 " aria-current="page" href="/">Home</a>
        <a class="nav-link fw-bold py-1 px-0" href="/about">About</a>
        {% if global_variable %}
                  <a class="nav-link fw-bold py-1 px-0" href="/dashboard">My Job</a>

          {% else %}
                  <a class="nav-link fw-bold py-1 px-0" href="/login">Login</a>

           {% endif %}
      </nav>
    </div>

  </header>
  <header class="mb-5">
    <div>

      <nav class="nav nav-masthead justify-content-center float-md-end">

        <button type="button" class="nav-link fw-bold py-1 px-0 " aria-current="page"   data-bs-toggle="modal" data-bs-target="#exampleModal">{{city}}</button>
        
      </nav>
    </div>
   <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/upcountry" method="post">
                              <label for="country" class="form-label">Country</label>
                      {% include 'dropdown-country.html' %}
      <div class="modal-footer">
        <button type="button submit" class="btn btn-primary">Save changes</button>
                </form>      
              </div>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
  </header>